src/main/resources/books.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://proj.gg.com/service/books"
           targetNamespace="http://proj.gg.com/service/books" elementFormDefault="qualified">

    <!--================ BOOK RELATED METHODS ================-->
    <!--==== CRUD Book methods ====-->
    <!-- persist a book -->
    <xs:element name="saveBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:book"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="saveBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:book"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- get a specific book by id -->
    <xs:element name="getBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:book" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- list all books -->
    <xs:element name="listAllBooksRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="listAllBooksResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="books" type="tns:book" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- delete a book -->
    <xs:element name="deleteBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:book"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteBookResponse">
        <xs:complexType>
        </xs:complexType>
    </xs:element>

    <!--==== CRUD Topic methods ====-->
    <!-- persist a topic -->
    <xs:element name="saveTopicRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="topic" type="tns:topic"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="saveTopicResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="topic" type="tns:topic"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- get topic by id -->
    <xs:element name="getTopicRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getTopicResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="topic" type="tns:topic" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- list all topics-->
    <xs:element name="listAllTopicsRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="listAllTopicsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="topics" type="tns:topic" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- delete a topic -->
    <xs:element name="deleteTopicRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="topic" type="tns:topic"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteTopicResponse">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <!--==== CRUD Library methods ====-->
    <!-- persist a library -->
    <xs:element name="saveLibraryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="library" type="tns:library"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="saveLibraryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="library" type="tns:library"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- get library by id -->
    <xs:element name="getLibraryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getLibraryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="library" type="tns:library" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- list all libraries -->
    <xs:element name="listAllLibrariesRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="listAllLibrariesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libraries" type="tns:library" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- delete a library -->
    <xs:element name="deleteLibraryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="library" type="tns:library"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteLibraryResponse">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <!--==== CRUD Language methods ====-->
    <!-- persist a language -->
    <xs:element name="saveLanguageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="language" type="tns:language"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="saveLanguageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="language" type="tns:language"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- get language by id -->
    <xs:element name="getLanguageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getLanguageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="language" type="tns:language" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- list all languages-->
    <xs:element name="listAllLanguagesRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="listAllLanguagesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="languages" type="tns:language" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- delete a language -->
    <xs:element name="deleteLanguageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="language" type="tns:language"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteLanguageResponse">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <!--==== End of CRUD ====-->

    <!-- this is filterBooks method -->
    <!-- you request page, size, keyword, it return a book list plus a lot of infos to performs a filtered filterBooks -->
    <xs:element name="searchBooksRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="xs:int"/>
                <xs:element name="size" type="xs:int"/>
                <xs:element name="keyWord" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchBooksResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="totalPages" type="xs:int"/>
                <xs:element maxOccurs="unbounded" name="books" type="tns:book"/>
                <!-- this filterBooks returns those 3 list in order to fill combo-lists for the filtered filterBooks -->
                <xs:element maxOccurs="unbounded" name="libraries" type="tns:library"/>
                <xs:element maxOccurs="unbounded" name="topics" type="tns:topic"/>
                <xs:element maxOccurs="unbounded" name="languages" type="tns:language"/>
                <!-- then we pass back the keyWord -->
                <xs:element name="keyWord" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Once a filterBooks has been performed, web service client can ask for a filterBooks by passing various params -->
    <xs:element name="filterBooksRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="xs:int"/>
                <xs:element name="size" type="xs:int"/>
                <xs:element name="keyWord" type="xs:string" minOccurs="0"/>
                <!-- params coming from combobox-->
                <xs:element name="libraryId" type="xs:int" minOccurs="0"/>
                <xs:element name="topicId" type="xs:int" minOccurs="0"/>
                <xs:element name="languageId" type="xs:int" minOccurs="0"/>
                <!-- is the book available -->
                <xs:element name="available" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="filterBooksResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="totalPages" type="xs:int"/>
                <xs:element maxOccurs="unbounded" name="books" type="tns:book"/>
                <!-- this filterBooks could return the library, topic and language for the webapp to display filterBooks terms -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!--================ OBJECTS ================-->
    <!-- a single book -->
    <xs:complexType name="book">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="author" type="xs:string"/>
            <xs:element name="isbn" type="xs:string" minOccurs="0"/>
            <xs:element maxOccurs="unbounded" name="topics" type="tns:topic"/>
            <xs:element name="language" type="tns:language"/>
            <xs:element name="quantity" type="xs:int"/>
            <xs:element name="publicationDate" type="xs:date"/>
            <xs:element name="library" type="tns:library"/>
            <xs:element name="summary" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- a library -->
    <xs:complexType name="library">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="postalCode" type="xs:int"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="phoneNumber" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- a topic -->
    <xs:complexType name="topic">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- a language -->
    <xs:complexType name="language">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <!--================ SERVICE STATUS ================-->
    <xs:complexType name="serviceStatus">
        <xs:sequence>
            <xs:element name="statusCode" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
